<script>
  function makeGradient(color1, color2, canvasId, type) {
    const canvas = document.getElementById(canvasId);
    console.log(canvas);
    const context = canvas.getContext("2d");

    function gradientDefaultSettings(gradient, context, color1, color2) {
      gradient.addColorStop(0, color1);
      gradient.addColorStop(1, color2);
      context.fillStyle = gradient;
      context.fillRect(0, 0, 300, 300);
    }

    let gradient;

    switch (type) {

      case 'horizontal':
        gradient = context.createLinearGradient(0, 0, 300,0);
        gradientDefaultSettings(gradient, context, color1, color2)
        break;


        case 'vertical':
         gradient = context.createLinearGradient(0, 0, 0, 300);
         gradientDefaultSettings(gradient, context, color1, color2)
         break;

         case 'diagonal':
         gradient = context.createLinearGradient(0, 0, 300,300)
         gradientDefaultSettings(gradient, context, color1, color2)
         break;

         case 'radial':
         gradient = context.createRadialGradient(200, 200, 20, 200, 100, 200)
         gradientDefaultSettings(gradient, context, color1, color2)
         break;

    }
  }
</script>
<div class="flex-container">


<% for(let i=0; i<gradients.length; i++){%>

  <div class="small-container">
    <canvas id='<%=gradients[i]._id%>' class="small-canvas" height="300px" width="300px" onclick="location.assign('/gradient/view/<%=gradients[i]._id%>')"></canvas>
    <script>makeGradient('<%=gradients[i].colors[0]%>', '<%=gradients[i].colors[1]%>', '<%=gradients[i]._id%>','<%=gradients[i].type%>')</script>


    <form class="like-form" action = "/gradient/library/favorites" method="post">
    
        <% if(favorites.includes(gradients[i]._id)){%>
         <button class="like" type="submit"><i id ="heart" class="fas fa-heart favorite small"></i></button>
        <% } else{%> 
          <button class="like" type="submit"> <i id ="heart" class="far fa-heart favorite small"></i></button>
         <% } %> 
         <input type="hidden" name="_csrf" value='<%=csrfToken%>'>
         <input type="hidden" name="gradientId" value='<%=gradients[i]._id%>'>

         
         <div>creator:<%=gradients[i].userId%></div>
    
        </form>

  </div>


<%}%>

</div>
     