<script>
  function makeGradient(colors, canvasId, type) {
    colors = colors.split(',')
    const canvas = document.getElementById(canvasId);
    const context = canvas.getContext("2d");

    function gradientDefaultSettings(gradient, context, colors) {

      console.log('colors length', colors.length)
    
      gradient.addColorStop(0, colors[0]);
     for(let i=1; i<colors.length-1; i++){
       const color = colors[i];
       const stopOffset = i/colors.length;
       console.log('offset', stopOffset)
       gradient.addColorStop(stopOffset, color);
     }
     gradient.addColorStop(1, colors[colors.length-1])
      context.fillStyle = gradient;
      context.fillRect(0, 0, 300, 300);
    }
  
    let gradient;

    switch (type) {

      case 'horizontal':
        gradient = context.createLinearGradient(0, 0, 300,0);
        gradientDefaultSettings(gradient, context, colors)
        break;

        case 'vertical':
         gradient = context.createLinearGradient(0, 0, 0, 300);
         gradientDefaultSettings(gradient, context, colors)
         break;

         case 'diagonal':
         gradient = context.createLinearGradient(0, 0, 300,300)
         gradientDefaultSettings(gradient, context, colors)
         break;

         case 'radial':
         gradient = context.createRadialGradient(200, 200, 20, 200, 100, 200)
         gradientDefaultSettings(gradient, context, colors)
         break;

    }
  }
</script>
<div class="flex-container"> 


<% for(let i=0; i<gradients.length; i++){%>

  <div class="small-container">
    <canvas id='<%=gradients[i]._id%>' class="small-canvas" height="300px" width="300px" onclick="location.assign('/gradient/view/<%=gradients[i]._id%>')"></canvas>
    <script>makeGradient('<%=gradients[i].colors%>', '<%=gradients[i]._id%>','<%=gradients[i].type%>')
    </script>


    <form class="like-form" action = "/gradient/library/favorites" method="post">
    
        <% if(favorites.includes(gradients[i]._id)){%>
         <button class="like" type="submit"><i id ="heart" class="fas fa-heart favorite small"></i></button>
        <% } else{%> 
          <button class="like" type="submit"> <i id ="heart" class="far fa-heart favorite small"></i></button>
         <% } %> 
         <input type="hidden" name="_csrf" value='<%=csrfToken%>'>
         <input type="hidden" name="gradientId" value='<%=gradients[i]._id%>'>
         
         <div><%=gradients[i].userId.name%></div>
        
        </form>

  </div>


<%}%>

</div>
<%- include('pagination.ejs') %> 
     