<div class="profile-flex">
    <div class="profile-block">
      <h1> <%=user.name%></h1>
      <input type="hidden" name="_csrf" value='<%=csrfToken%>'>
    
      <div class="profile-nav-container">
      
      <button class="profile-a" onclick ="location.assign('/gradient/favorites/<%=user._id%>')">Favorites <i class="fas fa-heart"></i></button>
      <button class="profile-a" onclick="location.assign('/users/posts/<%=user._id%>')">Posts <i class="fad fa-sticky-note"></i></button>
      <button class="profile-a" onclick="location.assign('/users/followers/<%=user._id%>')">Followers <i class="fad fa-users"></i></button>
      <button class="profile-a" onclick="location.assign('/users/following/<%=user._id%>')">Following <i class="fad fa-users"></i></button>

        </div>
      
      <div class="form-group">
        <%- include('library.ejs')%>
      </div>
      <%- include('pagination.ejs') %> 



    </div>
  </div>