<%- include('includes/head.ejs')%>

    <body>
        <div class="top">

            <%- include('includes/search2.ejs')%>
            <%- include('includes/logo.ejs')%>
            <%- include('includes/navigation2.ejs')%>
        
            <div class="main">

            <form class="form" action="/admin/users" method="post">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" id="name" class="form-control" name="userName" value='<%=user.name%>' required>
                </div>
                <div class="form-group">
                    <label>E-mail</label>
                    <input type="email" id="email" class="form-control" name="email" value = '<%=user.email%>' required>
                </div>
                <div class="form-group">
                    <label>User Id</label>
                    <input type="text" id="id" class="form-control" name="userId" value ='<%=user._id%>' required>
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn">Update User</button>
                </div>
                <input type ="hidden" name ="_csrf" value= '<%=csrfToken%>'>
            </form>
           </div>
    
        </div>
      
      </body>

            <%- include('includes/end.ejs')%>