<%- include('includes/head.ejs')%>

<body>
  <%- include('includes/navigation.ejs')%>
    <h1>Thank you for submitting, <%= color1 %> , <%= color2 %> </h1>
    <!-- <div class= "box" id= "box"></div> -->

    <!-- <script>
      console.log("hello");
     const box  = document.getElementById('box');
    // box.style.backgroundColor = '<%=color1%>';
     box.style.backgroundImage = `linear-gradient(to left, ${'<%=color1%>'}, ${'<%=color2%>'})`;
    </script> -->

    <canvas class ="canvas" id="gradient-canvas" width="500" height="500"></canvas>
    <script>
      const canvas = document.getElementById("gradient-canvas");
      console.log(canvas);
      const context = canvas.getContext("2d");
      const gradient = context.createLinearGradient(0,0, 500,0);
      gradient.addColorStop(0, '<%=color1%>');
      gradient.addColorStop(1, '<%=color2%>');

      context.fillStyle = gradient;
      context.fillRect(0, 0, 500, 500);
      const base64 = canvas.toDataURL('image/jpeg')
      console.log(base64)
     // document.write('<img src="'+image+'"/>');

    </script>
    <!-- <button class = "btn">Download</button> -->
    <a href="javascript:canvas.toDataURL('image/jpeg');" download="download" >Download as jpeg</a>
    <a href="javascript:base64">Right click to download</a>
    


    <%- include('includes/end.ejs')%>