<%- include('includes/head.ejs')%>

<body>

  <div class="top">

    <%- include('includes/search2.ejs')%>
    <%- include('includes/logo.ejs')%>
    <%- include('includes/navigation2.ejs')%>

    <div class="main">
      <div class="dup-container">
        <h2>Before</h2>
        <%for(let i=0; i<before.length; i++){%>
        <div><%=before[i]._id%></div>
     <% }%>
     <br>
     <br>
     <h2>After</h2>
     <% for( let i=0; i< after.length; i++){%>
      <div><%=after[i]._id%></div>
      <% } %> 
      </div>
    </div>
    
  </div>

</body>

<%- include('includes/end.ejs')%>