<%- include('includes/head.ejs')%>

<body>

  <div class="top">

    <%- include('includes/search2.ejs')%>
    <%- include('includes/logo.ejs')%>
    <%- include('includes/navigation2.ejs')%>

    <div class="main">


      <form action = "/gradient/edit" method ="post">

                <div class="form-group">
                    <label for="title"> Gradient name</label>
                    <input id="title" class="form-input-text" type="text" name="title" 
                        placeholder="Your gradient tilte...">
                </div>
                <div class="form-group">
                    <label for="tags">Tags</label>
                    <input id="tags" class="form-input-text" type="text" name="tags" placeholder="seperate by spaces...">
                </div>
                

                <div class="form-group">
                <p>Colors</p>
                    <input id="color" class="form-input-color" type="color" name="color1" value="#fcfcfc" required>
                    <input id="color" class="form-input-color" type="color" name="color2" value="#fcfcfc" required>
                    <input id="color" class="form-input-color" type="color" name="color3" value="#fcfcfc">
                    <input id="color" class="form-input-color" type="color" name="color4" value="#fcfcfc">
                    <input id="color" class="form-input-color" type="color" name="color5" value="#fcfcfc">
                    <input id="color" class="form-input-color" type="color" name="color6" value="#fcfcfc">
                </div>

                <div class = "form-group">
                    <label for= "types">Gradient type</label>
                    <select  id ="types" class="types" name="type">
                       <option  value="horizontal" selected>Horizontal</option>
                       <option value="diagonal">Diagonal</option>
                       <option  value="vertical">Vertical</option>
                       <option  value="radial">Radial</option>
                    </select>
                        
                </div>


                <div class = "form-group">
                    <button class="btn-text" type="submit">Save changes</button>
                </div>
                <input type="hidden" name="gradientId" value='<%=gradientId%>'>
                <input type ="hidden" name ="_csrf" value= '<%=csrfToken%>'>
    </div>
    
  </div>

</body>

<%- include('includes/end.ejs')%>