<%- include('includes/head.ejs')%>

<body>
  <%- include('includes/navigation.ejs')%>
    <h1>Thank you for submitting, <%= color1 %> , <%= color2 %> </h1>
    <div class= "box" id= "box"></div>

    <script>
      console.log("hello");
     const box  = document.getElementById('box');
    // box.style.backgroundColor = '<%=color1%>';
     box.style.backgroundImage = `linear-gradient(to left, ${'<%=color1%>'}, ${'<%=color2%>'})`;
    </script>

    <%- include('includes/end.ejs')%>