<%- include('includes/head.ejs')%>

<body>
  <div class="top">

    <%- include('includes/search2.ejs')%>
    <%- include('includes/logo.ejs')%>
    <%- include('includes/navigation2.ejs')%>
    <div class="main">
  <h1>Please upload your image</h1>
  <form action = "image/upload" method="submit">
    <input name="foo" type="file">
    <button type="submit" class="btn-text">Upload image</button>
    <input type ="hidden" name ="_csrf" value= '<%=csrfToken%>'>
  </form>
    </div>
    
  </div>

</body>


<%- include('includes/end.ejs')%>
      