


<%- include('includes/head.ejs') %>
<body>
   
    <div class="top">

        <%- include('includes/search2.ejs')%>
        <%- include('includes/logo.ejs')%>
        <%- include('includes/navigation2.ejs')%>
        <div class="home">
        <div id = "main" class="main">
         
          <div class="home-title">Create your own gradients now!</div>
        </div>
        </div>
        
      </div>
    
    </body>
    
    <%- include('includes/end.ejs')%>