<%- include('includes/head.ejs')%>

  <body>
    <%- include('includes/navigation.ejs')%>
      <h1>Gradient Library</h1>
      <form action="/gradient/search" method="post">
        <input id="query" class='searchBar' type="search" name="query" placeholder="search for gradients...">
        <button class="btn" type="submit">Search</button>
        <input type="hidden" name="_csrf" value='<%=csrfToken%>'>
      </form>

      <%-include('includes/library.ejs')%>


        <%- include('includes/end.ejs')%>