<%- include('includes/head.ejs')%>

  <body>
    <div class="top">
      <%- include('includes/search2.ejs')%>
      <%- include('includes/logo.ejs')%>
    <%- include('includes/navigation2.ejs')%>

      <div class="main">
        <h1>Gradient Library</h1>
        <%-include('includes/library.ejs')%>
      </div>

    </div>

  </body>

        <%- include('includes/end.ejs')%>