<%- include('includes/head.ejs')%>

  <body>

    <div class="top">

      <%- include('includes/search2.ejs')%>
      <%- include('includes/logo.ejs')%>
        <%- include('includes/navigation2.ejs')%>
        <div class="main">
          
        <%- include('includes/profile.ejs') %>
    </div>

    </div>

  </body>


  <%- include('includes/end.ejs')%>