<%- include('includes/head.ejs')%>

  <body>

    <div class="top">

      <%- include('includes/search2.ejs')%>
      <%- include('includes/logo.ejs')%>
        <%- include('includes/navigation2.ejs')%>
        <div class="main">

          <div class="profile-flex">
            <div class="profile-block">
              <h1> <%=user.name%></h1>
              <input type="hidden" name="_csrf" value='<%=csrfToken%>'>
            
              <script>
                function chanageNav(buttonId){
                const button = document.getElementById(buttonId)
                button.style.backgroundColor = "#4a018a";
                }
              </script>
              <div class="profile-nav-container">
                <button id="profile-a" class ="profile-a" onclick="changeNav('profile-a')">
                <li class="profile-nav-item"><a  class = "<%= path === '/gradient/favorites' ? 'active' : ''%>"href="/gradient/favorites"><i class="fas fa-heart"></i> Favorites</a></li>
                </button>

              <button id ="profile-a" class="profile-a" onclick="changeNav('profile-a')">
                    <li class="profile-nav-item"><a class = "<%= path === '/users/posts/' ? 'active' : ''%>" href="/users/posts/<%=locals.user._id%>"><i class="fad fa-album-collection"></i>Posts</a></li>
              </button>
               
                </div>
              
              <div class="form-group">
                <%- include('includes/library.ejs')%>
              </div>

              <% if (userId==user._id) { %>
                <div class="form-group">
               <button class="link-btn">
                  <a class="link" href='/users/profile/edit/<%=user._id%>'>Edit profile</a>
               </button>
                <%}%>
                </div>


            </div>
          </div>


    </div>

    </div>

  </body>


  <%- include('includes/end.ejs')%>