<%- include('includes/head.ejs')%>

<body>

  <div class="top">

   <%- include('includes/user-search.ejs') %> 
    <%- include('includes/logo.ejs')%>
    <%- include('includes/navigation2.ejs')%>

    <div class="main">
      <h1><%=title%></h1>
      <div class="users-container">
      <% for(let i=0 ;i<users.length; i++){%> 
        <div class="user-info">
            <div class=user-name>
            <%=users[i].name%>
        </div>
    
        <button class="btn-text users" onclick="location.assign('/users/profile/<%=users[i]._id%>')">See profile</button>
    
       <% if(!user.following.includes(users[i]._id)){ %> 
        <form name=follow action="/users/follow" method="post">
            <input type ="hidden" name="userId" value='<%=users[i]._id%>'>
            <input type ="hidden" name ="_csrf" value= '<%=csrfToken%>'>
        <button class="btn-text users">Follow</button>
    </form>
    
    <% }else{%> 
        <form action="/users/unfollow" name="unfollow" method="post">
        <input type ="hidden" name="userId" value='<%=users[i]._id%>'>
        <input type ="hidden" name ="_csrf" value= '<%=csrfToken%>'>
        <button class="btn-text users">Unfollow</button>
        </form>
       <% } %> 

    </div>

        <% } %> 

   
      </div>
    </div>
    
  </div>

</body>

<%- include('includes/end.ejs')%>